{
  "*.{js,jsx,ts,tsx}": [
    "pnpm oxfmt --no-error-on-unmatched-pattern",
    "pnpm oxlint --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,npm,nvm})*rc}": [
    "pnpm oxfmt --no-error-on-unmatched-pattern"
  ],
  "package.json": ["pnpm oxfmt --no-error-on-unmatched-pattern"],
  "*.vue": [
    "pnpm oxfmt --no-error-on-unmatched-pattern",
    "pnpm oxlint --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "pnpm oxfmt --no-error-on-unmatched-pattern",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["pnpm oxfmt --no-error-on-unmatched-pattern"]
}
